<nav class="navbar" >

    <label class="logo"><i class="bi bi-file-music"></i>🎵 Songs</label>
    <ul>
        <li><a routerLink="kannada">Kannada</a></li>
        <li><a routerLink="english">English</a></li>
        <li><a routerLink="singer">Singer</a></li>
        <li><a routerLink="types">Types</a></li>
       
         <!-- <li><button  class="btn" (click)="logout()" style="background-color: #6f05b6;color:white">Logout</button></li>  -->
         </ul>
  </nav> 
  <router-outlet></router-outlet>
  

<footer>songs@copyright-2K23</footer>
